:root {
    --color-background-alpha: rgba(255, 0, 0, 0.4);
    --color-background: red;
    --color-border: rgb(78, 0, 0);
    --color-contrast: rgb(255,255,255);
}

form {
    background-color: var(--color-background-alpha);
    padding-top: 10pt;
    padding-bottom: 10pt;
    padding-left: 5pt;
    padding-right: 5pt;
    margin-left: 10%;
    margin-right: 10%;
}

header {
    font-size: large;
}

fieldset {
    background-color: var(--color-background-alpha);
    border-color: var(--color-border);
    border-radius: 5%;
}

legend {
    background-color: var(--color-background);
    border-color: var(--color-border);
    border-radius: 5px;
}

.flex-width {
    width: auto;
}

.ingredient-button {
    border-style: double;
    border-radius: 40%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.block-container {
    display: block;
}

.header-container {
    grid-column: 1 / span 2; 
}

.columns1 {
    column-count: 1;
}

.columns2 {
    column-count: 2;
}

.columns4 {
    column-count: 4;
}

.pizza-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'picture picture main main right right'
        'picture picture footer footer footer footer';
    grid-gap: 10px;
    padding: 10px;
}
