:root {
    --color1: green;
    --color2: red;
    --color3: rgba(255, 0, 0, 0.25);
    --color-font: white;
    --color-contrast1: white;
    --color-contrast2: white;
    --color-contrast3: white;
}

.logo {
    width: 100px;
}

.main-header {
    display: flex;
    flex-flow: row wrap;
    background-color: var(--color1);
    color: var(--color-contrast1);
    padding: 10px;
    align-items: stretch;
    position: sticky;
    top: 0;
}

.main-header__menu {
    flex-grow: 1;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.main-header__menu a:link, .main-header__menu a:visited {
    background-color: var(--color1);
    color: var(--color-contrast1);
    border: 2px solid var(--color-contrast1);
    padding: 1px 2px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.main-header__menu a:hover, .main-header__menu a:active {
    background-color: var(--color-contrast1);
    color: var(--color1);
}

.main-header__login {
    text-align: right;
    flex-grow: 1;
}

.catalog {
    background-color: var(--color3);
    color: var(--color-contrast3);
    margin-left: 2em;
    margin-right: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    font-family: Principal;
}

.catalog__article-header {
    font-size: 2em;
}

.catalog__article {
    background-color: var(--color2);
    border: 4px dashed var(--color-contrast2);
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.catalog__article-figure {
    margin-inline-start: 0;
    margin-inline-end: 0;
}

@media print {
    .catalog__article-figure img {
        max-width: 210px;
    }
}

.catalog__article-summary {
    text-align: justify;
    width: 100%;
}

@media print {
    .catalog__article-summary {
        width: 210px;
        font-size: 1em;
    }
}

.catalog__article-figcaption {
    font-size: small;
}

@media (min-width: 576px) {
    .catalog__header {
        font-size: 2.5em;
    }

    .catalog__article-summary {
        width: 300px;
        font-size: 1em;
    }
}

@media (min-width: 768px) {
    .catalog__header {
        font-size: 3em;
    }

    .catalog__article-summary {
        width: 350px;
        font-size: 1.2em;
    }
}

@media (min-width: 992px) {
    .catalog__header {
        font-size: 3.5em;
    }

    .catalog__article-summary {
        width: 400px;
        font-size: 1.4em;
    }
}

@media (min-width: 1200px) {
    .catalog__header {
        font-size: 4em;
    }

    .catalog__article-summary {
        width: 450px;
        font-size: 1.6em;
    }
}

@media (max-width: 320px) {
    .catalog__article-figure {
        display: none;
    }
}

.img--round {
    border-radius: 50%;
}