:root {
    --color1: green;
    --color2: red;
    --color3: white;
    --color-alpha2: rgba(255, 0, 0, 0.30);
    --color-font: white;
    --color-contrast1: white;
    --color-contrast2: white;
    --color-contrast3: red;
}

.logo {
    width: 100px;
}

.main-header {
    display: flex;
    flex-flow: row wrap;
    background-color: var(--color1);
    color: var(--color-contrast1);
    padding: 10px;
    align-items: stretch;
    position: sticky;
    top: 0;
}

.main-header__menu {
    flex-grow: 1;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.main-header__login {
    flex-grow: 1;
    text-align: right;
}

.main-header__menu a:link, .main-header__menu a:visited {
    background-color: var(--color1);
    color: var(--color-contrast1);
    border: 2px solid var(--color-contrast1);
    padding: 3px 3px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.main-header__menu a:hover, .main-header__menu a:active {
    background-color: var(--color-contrast1);
    color: var(--color1);
}

.catalog, body > form {
    background-color: var(--color-alpha2);
    color: var(--color-contrast2);
    margin-left: 2em;
    margin-right: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    font-family: Principal;
}

.catalog__article-header {
    font-size: 2em;
}

.catalog__article, fieldset {
    background-color: var(--color2);
    border: 10px double var(--color-contrast2);
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
}

.catalog__article-figure {
    margin-inline-start: 0;
    margin-inline-end: 0;
}

@media print {
    .catalog__article-figure img {
        max-width: 210px;
    }
}

.catalog__article-summary {
    text-align: justify;
    width: 100%;
}

@media print {
    .catalog__article-summary {
        width: 210px;
        font-size: 1em;
    }
}

.catalog__article-figcaption {
    font-size: small;
}

@media (min-width: 576px) {
    .catalog__header {
        font-size: 2.5em;
    }

    .catalog__article-summary {
        width: 300px;
        font-size: 1em;
    }
}

@media (min-width: 768px) {
    .catalog__header {
        font-size: 3em;
    }

    .catalog__article-summary {
        width: 350px;
        font-size: 1.2em;
    }
}

@media (min-width: 992px) {
    .catalog__header {
        font-size: 3.5em;
    }

    .catalog__article-summary {
        width: 400px;
        font-size: 1.4em;
    }
}

@media (min-width: 1200px) {
    .catalog__header {
        font-size: 4em;
    }

    .catalog__article-summary {
        width: 450px;
        font-size: 1.6em;
    }
}

@media (max-width: 320px) {
    .catalog__article-figure {
        display: none;
    }
}

.img--round {
    border-radius: 50%;
}

.column1 {
    column-count: 1;
}

.columns4 {
    column-count: 4;
}

.legend__title {
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 12px;
    border: 3px;
}

.legend__title-small {
    text-align: center;
    font-size: 1.2em;
}

.small-box {
    background-color: var(--color1);
    border: 5px outset var(--color-contrast1);
    margin: 3px;
    padding: 3px;
    border-radius: 15px;
    display: inline-flex;
    column-count: 4;
    text-align: center;
}

.form__text-box {
    border: 3px ridge var(--color1);
    border-radius: 2px;
}

.button__entity {
    background-color: var(--color1);
    color: var(--color-contrast1);
    border: 2px solid var(--color-contrast1);
    margin: 3px;
    padding: 3px 3px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button__form {
    background-color: var(--color2);
    color: var(--color-contrast2);
    border: 2px solid var(--color-contrast2);
    margin: 3px;
    padding: 3px 3px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-flexbox;
}

.second-row {
    grid-row: 2;
}