:root {
    --color-background: rgba(0, 0, 0, 0.6);
    --color-ref: 70;
    --colorRed: rgb(var(--color-ref),0,0);
    --colorGreen: rgb(0,var(--color-ref),0);
    --colorBlue: rgb(0,0,var(--color-ref));
    --colorBlack: rgb(255-var(--color-ref), 255-var(--color-ref), 255-var(--color-ref));
}

.calculator {
    border: 1px ridge black;
    padding: 1px;
    text-align: center;
    min-width: 250px;
    max-width: 350px;
    background-color: var(--color-background);
    color: white;
}

.screen {
    text-align: end;
    padding: 1rem;
}

.screen__output {
    font-size: 3rem;
    word-wrap: break-word;
}

.screen__resume {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.2rem;
}

.big-button {
    grid-column: span 2;
}

.button-layout {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2px;
    padding: 1px;
    margin: 2px;
    box-sizing: border-box;
    width: 100%;
    min-height: 8rem;
}

.button {
    background-color: var(--colorBlack);
    color: white;
    transition-duration: 0.4s;
    font-size: 1.2rem;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.number-button {
    background-color: var(--colorGreen) !important;
}

.operation-button {
    background-color: var(--colorBlue) !important;
}

.alert-button {
    background-color: var(--colorRed) !important;
}