:root {
    --color-ref: 60;
    --color-trans: 0.7;
}

.calculator {
    font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
    border: 1px ridge black;
    padding: 5px;
    text-align: center;
    min-width: 250px;
    max-width: 350px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

.calculator h1 {
    font-size: 1.2rem;
    margin: 2px;
}

.screen {
    text-align: end;
    padding: 1rem;
}

.screen__output {
    font-size: 3rem;
    word-wrap: break-word;
}

.screen__resume {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.2rem;
}

.bigButton {
    grid-column: span 2;
}

.button-layout {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    min-height: 8rem;
}

.button {
    background-color: rgb(var(--color-ref),var(--color-ref),var(--color-ref));
    color: white;
    transition-duration: 0.4s;
    font-size: 1.2rem;
    padding: 0px;
    min-height: 48px;
    min-width: 48px;
}
.button:hover {
    background-color: rgba(150, 150, 150, var(--color-trans)) !important;
}

.red {
    background-color: rgb(var(--color-ref),0,0)!important;
}
.red:hover {
    background-color: rgba(255,0,0,var(--color-trans))!important;
}

.green {
    background-color: rgb(0,var(--color-ref),0)!important;
}
.green:hover {
    background-color: rgba(0,255,0,var(--color-trans))!important;
}

.blue {
    background-color: rgb(0,0,var(--color-ref))!important;
}
.blue:hover {
    background-color: rgba(0,0,255,var(--color-trans))!important;
}